.cbx {
	position: relative;
	top: 1px;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	transition: background 0.2s ease;
	cursor: pointer;
	display: block;
}

#rgpdConsent:checked ~ .cbx {
	border-color: transparent;
	background: var(--color-yellow);
	animation: jelly 0.4s ease;
}

@keyframes jelly {
	from {
		transform: scale(1, 1);
	}

	20% {
		transform: scale(1.3, 0.7);
	}

	40% {
		transform: scale(0.7, 1.3);
	}

	60% {
		transform: scale(1.1, 0.9);
	}

	80% {
		transform: scale(0.9, 1.1);
	}

	to {
		transform: scale(1, 1);
	}
}
