@import "tailwindcss";

@font-face {
	font-family: "ApercuPro-Bold";
	src: url("/assets/fonts/ApercuPro-Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "ApercuPro-Medium";
	src: url("/assets/fonts/ApercuPro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "ApercuPro-Regular";
	src: url("/assets/fonts/ApercuPro-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "ApercuPro-Light";
	src: url("/assets/fonts/ApercuPro-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "WeirdWords";
	src: url("/assets/fonts/WeirdWords.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

@theme {
	--color-black: #222222;
	--color-white: #f8f8f8;
	--color-grayDark: #4d4d4d;
	--color-yellow: #fff083;
	--color-bgFooter: #222222;
	--color-textFooter: #f8f8f8;
	--color-grayFooter: #D1D5DC;
	--color-grayDarkFooter: #99A1AF;
	--font-apercuBold: "ApercuPro-Bold", sans-serif;
	--font-apercuLight: "ApercuPro-Light", sans-serif;
	--font-apercuRegular: "ApercuPro-Regular", sans-serif;
	--font-apercuMedium: "ApercuPro-Medium", sans-serif;
	--font-weirdWords: "WeirdWords", sans-serif;
	--radius-2sm: 0.25rem; /* 4px */
	--scale-101: 1.01;
	--shadow-custom: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.container-custom {
	@apply w-full mx-auto px-3 md:px-5 lg:px-7 xl:px-15 max-w-[2560px];
}

::selection {
	background-color: var(--color-black);
	color: var(--color-white);
}

body {
	font-family: var(--font-apercuRegular);
}

.text-shadow {
	text-shadow: 0 2px 4px rgba(34, 34, 34, 0.2);
}

.text-line-animation {
	line-height: 0.7;
	position: relative;
}

.text-line-animation::before {
	content: "";
	width: 0;
	height: 2px;
	border-radius: 2px;
	background-color: var(--color-white);
	position: absolute;
	bottom: -0.25rem;
	right: 0;
	transition: right 0.4s, width 0.4s, left 0.4s;
}

.text-line-animation:hover::before {
	width: 100%;
	left: 0;
}

.form-group {
	@apply flex flex-col gap-2;
}

.label {
	@apply text-sm font-medium text-white/80;
}

.input {
	@apply w-full px-4 py-2 border bg-white border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow focus:border-yellow outline-none transition-all;
}

button {
	cursor: pointer;
}
